body {
  padding-bottom: 20px;
}

#tele-number {
  transition: 0.5s;
  transition-property: transform;
  color: #888888;
  font-size: 1.5em;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
}

#logo {
  font-size: 25px;
  margin-left: 10px;
  color: #888888;
  transition-duration: 0.3s;
  transition-property: transform;
}

#logo:hover {
  color: white;
}
#navbar-top {
  height: 7em;
  transition: all 0.5s linear;
}
.navbar-address {
  color: #888888;
  font-size: 0.9em;
  padding: 0px;
  margin: 0px;
}

.padded-nav-item {
  margin-left: 1em;
}

.hoverable {
  display: inline-block;
  backface-visibility: hidden;
  vertical-align: middle;
  position: relative;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transform: translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
}
.fixed-top-padded {
  top: 7em;
}

.hoverable:before {
  position: absolute;
  pointer-events: none;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(
    center,
    ellipse,
    rgba(255, 255, 255, 0.35) 0%,
    rgba(255, 255, 255, 0) 80%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0.35) 0%,
    rgba(255, 255, 255, 0) 80%
  );
  /* W3C */
  transition-duration: 0.3s;
  transition-property: transform, opacity;
}

.hoverable:hover,
.hoverable:active,
.hoverable:focus {
  transform: translateY(-5px);
}
.hoverable:hover:before,
.hoverable:active:before,
.hoverable:focus:before {
  opacity: 1;
  transform: translateY(-5px);
}

.div-spacer {
  padding: 85px 10px;
}
